@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Montserrat';
}
html{
    scroll-behavior: smooth;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url('../asset/img/hero.webp');
    background-size: cover;
    background-position: center;

}
.hero::after{
    width: 100%;
    height: 100%;
    display: block;
    content: "DF Store";
    text-align: center;
    color: white;
    font-family: 'Montserrat';
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 7rem;
    background: rgba(0,0,0,.8);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
}
.intro{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    
}
.product{
    height: max-content;
    width: 100%;
    margin: 50px 0;
    text-align: center;

    .hoodie{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        div{
            margin:50px 0;
            img{
                width: 300px;
            }
        }
    }

    .t-shirts{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        div{
            margin:50px 0;
            img{
                width: 300px;
            }
        }
    }
}
.footer{
    width: 100%;
    height: 30vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(24, 22, 26);
    color: white;
    margin: 0;

    h1{
        font-weight: 900;
    }
}
@media screen and (max-width:600px) {
    .intro{
        h1{
        font-size: 1.5rem;
    }
        p{
            font-size: .9rem;
        }
    }
}